@import 'reset';

body {
  font-family: $font-family-default;
  font-size: 16px;
  color: $color-black;
  background-color: $color-white;
  font-style: normal;
  font-weight: 400;
}

h1 {
  --font-size: 20px;
  --line-height: 22px;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);

  @include media-mobile {
    --font-size: 24px;
    --line-height: 27px;
  }
  @include media-tablet {
    --font-size: 28px;
    --line-height: 33px;
  }
}

button {
  cursor: pointer;
}

.container {
  --padding-x: 24px;
  max-width: 1435px;
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--padding-x); 

  @include media-mobile {
    --padding-x: 128px;
  }
  @include media-tablet {
    --padding-x: 64px;
  }
}
