// Colors
$color-white: #FFFFFF;
$color-black: #252525;
$color-primary: #0560FD;
$color-error: #F44336;

// Fonts
$font-family-default: 'Manrope', sans-serif;

// Other
$border-default: 0.5px solid rgba($color-black, 15%);